/*Html elements - start*/
mat-card {
  border: 1px solid var(--gray-2);
  box-shadow: 2px 2px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-card-title img {
  width: 40px;
  height: 40px;
}
/*Html elements - end*/

/*Css classes - start*/
.margintop {
  margin-top: 140px;
}

.button-blinking {
  color: black;
}

.login-error {
  text-align: center;
}
/*Css classes - end*/
