.flex-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.flex-div button {
  margin-top: 6px;
  color: black;
}

.enroll-question {
  display: inline;
  margin-right: 9px;
  margin-left: 1px;
}

.radio-button-left {
  margin-right: 9px;
}

.mat-checkbox {
  margin-left: 12px;
}
