<form [formGroup]="serviceForm">
  <mat-form-field appearance="fill">
    <mat-label>Base Redirect Url *</mat-label>
    <input matInput formControlName="baseRedirectUrl" />
    <mat-error
      *ngIf="
        this.serviceForm.controls.baseRedirectUrl.invalid &&
        this.serviceForm.controls.baseRedirectUrl.touched
      "
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Blinking Params *</mat-label>
    <mat-select formControlName="blinkingParams" multiple>
      <mat-option value="Status">Status</mat-option>
      <mat-option value="Document Expiry Date">Document Expiry Date</mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        this.serviceForm.controls.blinkingParams.invalid &&
        this.serviceForm.controls.blinkingParams.touched
      "
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill" style="margin-top: 10px">
    <mat-label>Skippable Steps</mat-label>
    <mat-select formControlName="skippableSteps" multiple>
      <mat-option value="Account Number">Account Number</mat-option>
      <mat-option value="Contact Data">Contact Data</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Steps That Require Proof of Documents</mat-label>
    <mat-select formControlName="stepsThatRequireProofOfDocuments" multiple>
      <mat-option value="Account Number">Account Number</mat-option>
      <mat-option value="Address">Address</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Initial Session Config *</mat-label>
    <mat-select formControlName="initialSessionConfig" multiple>
      <mat-option
        [disabled]="
          this.serviceForm.get('initialSessionConfig').value === null ||
          this.serviceForm
            .get('initialSessionConfig')
            .value.includes('Document with Country')
        "
        value="Document"
        >Document</mat-option
      >
      <mat-option
        [disabled]="
          this.serviceForm.get('initialSessionConfig').value === null ||
          this.serviceForm
            .get('initialSessionConfig')
            .value.includes('Document')
        "
        value="Document with Country"
        >Document with Country</mat-option
      >
      <mat-option value="Front Side">Front Side</mat-option>
      <mat-option value="Back Side">Back Side</mat-option>
      <mat-option value="Address">Address</mat-option>
      <mat-option value="Faceprint">Faceprint</mat-option>
      <mat-option value="Account Number">Account Number</mat-option>
      <mat-option value="Contact Data">Contact Data</mat-option>
      <mat-option value="Video Session">Video Session</mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        this.serviceForm.controls.initialSessionConfig.hasError('required') &&
        this.serviceForm.controls.initialSessionConfig.touched
      "
      >This field is required</mat-error
    >
    <mat-error
      *ngIf="
        !this.serviceForm.controls.initialSessionConfig.hasError('required') &&
        this.serviceForm.controls.initialSessionConfig.touched &&
        !this.serviceForm.controls.initialSessionConfig.valid
      "
      >Back Side and Front Side should either be selected together, or not
      selected at all</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Steps That Require Attention</mat-label>
    <mat-select formControlName="stepsThatRequireAttention" multiple>
      <mat-option value="Account Number">Account Number</mat-option>
      <mat-option value="Address">Address</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Max Number of Tries *</mat-label>
    <input type="number" matInput formControlName="maxNumberOfTries" />
    <mat-error
      *ngIf="
        this.serviceForm.controls.maxNumberOfTries.invalid &&
        this.serviceForm.controls.maxNumberOfTries.touched
      "
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Default Country *</mat-label>
    <mat-select formControlName="defaultCountry">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        this.serviceForm.controls.defaultCountry.invalid &&
        this.serviceForm.controls.defaultCountry.touched
      "
      >This field is required
    </mat-error>
  </mat-form-field>
  <div class="flex-div">
    <button color="warn" mat-raised-button [disabled]="!serviceForm.valid">
      Save
    </button>
    <mat-checkbox color="primary" formControlName="shouldAskForFaceEnroll">
      Ask for Face Enroll?
    </mat-checkbox>
    <mat-checkbox
      color="primary"
      formControlName="willEmbedInIframe"
      style="margin-right: 12px"
    >
      Embed in IFrame?
    </mat-checkbox>
  </div>
</form>
