<mat-expansion-panel class="session-card" [expanded]="expand">
  <mat-expansion-panel-header>
    <mat-panel-title class="service-config-title">
      Service Config<span *ngIf="name">{{ ": " + name }}</span>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="serviceForm">
    <mat-form-field appearance="fill">
      <mat-label>Service Config Name *</mat-label>
      <input matInput formControlName="serviceConfigName" />
      <mat-error *ngIf="requiredValidator('serviceConfigName')">
        This field is required
      </mat-error>
    </mat-form-field>
    <mat-divider class="divider"></mat-divider>
    <h2 class="title-redirect">Redirect Info</h2>
    <mat-form-field appearance="fill">
      <mat-label>Base Redirect Url *</mat-label>
      <input matInput formControlName="baseRedirectUrl" />
      <mat-error *ngIf="requiredValidator('baseRedirectUrl')">
        This field is required
      </mat-error>
      <mat-error *ngIf="patternValidator('baseRedirectUrl')">
        Must be a valid URL
      </mat-error>
    </mat-form-field>
    <div class="redirect-div">
      <div class="mini-control-width-2">
        <mat-form-field appearance="fill">
          <mat-label>Blinking Params *</mat-label>
          <mat-select formControlName="blinkingParams" multiple>
            <mat-option value="Status">Status</mat-option>
            <mat-option value="Document Expiry Date">
              Document Expiry Date
            </mat-option>
          </mat-select>
          <mat-error *ngIf="requiredValidator('blinkingParams')">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mini-control-width-3">
        <mat-form-field appearance="fill">
          <mat-label>Embed in IFrame? *</mat-label>
          <mat-select formControlName="willEmbedInIframe">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error *ngIf="requiredValidator('willEmbedInIframe')">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-divider class="divider"></mat-divider>
    <mat-form-field appearance="fill" class="initial-session-field">
      <mat-label>Initial Session Config *</mat-label>
      <mat-select formControlName="initialSessionConfig" multiple>
        <mat-option
          *ngIf="allowedSteps.indexOf('Document type') != -1"
          [disabled]="documentDisabler('Document type with country')"
          value="Document type"
        >
          Document
        </mat-option>
        <mat-option
          *ngIf="allowedSteps.indexOf('Document type with country') != -1"
          [disabled]="documentDisabler('Document type')"
          value="Document type with country"
        >
          Document with Country
        </mat-option>
        <mat-option
          *ngIf="allowedSteps.indexOf('Front side') != -1"
          [disabled]="
            !documentDisabler('Document type') &&
            !documentDisabler('Document type with country')
          "
          value="Front side"
        >
          Front Side
        </mat-option>
        <mat-option
          *ngIf="allowedSteps.indexOf('Back side') != -1"
          [disabled]="
            !documentDisabler('Document type') &&
            !documentDisabler('Document type with country')
          "
          value="Back side"
        >
          Back Side
        </mat-option>
        <mat-option
          *ngIf="allowedSteps.indexOf('Address') != -1"
          value="Address"
          >Address</mat-option
        >
        <mat-option *ngIf="allowedSteps.indexOf('Face') != -1" value="Face"
          >Face</mat-option
        >
        <mat-option
          *ngIf="allowedSteps.indexOf('Account number') != -1"
          value="Account number"
          >Account Number</mat-option
        >
        <mat-option
          *ngIf="allowedSteps.indexOf('Contact data') != -1"
          value="Contact data"
          >Contact Data</mat-option
        >
        <mat-option
          *ngIf="allowedSteps.indexOf('Video session') != -1"
          value="Video session"
          >Video Session</mat-option
        >
        <mat-option
          *ngIf="allowedSteps.indexOf('Additional document') != -1"
          value="Additional document"
          >Additional Documents</mat-option
        >
      </mat-select>
      <mat-error *ngIf="requiredValidator('initialSessionConfig')">
        This field is required
      </mat-error>
      <mat-error *ngIf="frontBackValidator()"
        >When either Document or Document with country are selected, both Front
        side and Back side must be selected
      </mat-error>
    </mat-form-field>
    <div *ngIf="additional">
      <mat-divider class="divider"></mat-divider>
      <h2 class="title-redirect">Additional Documents Info</h2>
      <mat-form-field appearance="fill">
        <mat-label>Additional Doc Sub Type *</mat-label>
        <mat-select formControlName="additionalDocSubType">
          <mat-option
            *ngFor="let sub of subtype | keyvalue"
            [value]="sub.value"
          >
            {{ sub.value }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Additional Doc Description *</mat-label>
        <input #docDesc matInput formControlName="additionalDocDescription" />
        <mat-error *ngIf="requiredValidator('additionalDocDescription')">
          This field is required
        </mat-error>
      </mat-form-field>
      <app-additional-docs
        [additionalDocs]="additionalDocArray"
      ></app-additional-docs>
      <div class="flex-div">
        <button
          color="warn"
          type="button"
          class="add-doc-button"
          mat-raised-button
          [disabled]="
            serviceForm.get('additionalDocDescription').value === '' ||
            serviceForm.get('additionalDocSubType').value === ''
          "
          (click)="addNewAditionalDocument()"
        >
          <mat-icon>add</mat-icon>
          Add
        </button>
      </div>
      <mat-divider class="divider"></mat-divider>
    </div>
    <mat-form-field
      appearance="fill"
      [ngStyle]="{ 'margin-top': additional ? '12px' : '0px' }"
    >
      <mat-label>Skippable Steps</mat-label>
      <mat-select formControlName="skippableSteps" multiple>
        <mat-option *ngFor="let step of skippableStepOptions" [value]="step">
          {{ step }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Steps That Require Proof of Documents</mat-label>
      <mat-select formControlName="stepsThatRequireProofOfDocuments" multiple>
        <mat-option
          *ngFor="let step of stepsThatRequireProofOptions"
          [value]="step"
        >
          {{ step }}
        </mat-option>
        <mat-option
          value="Additional Document"
          *ngIf="additionalDocArray.length > 0"
        >
          Additional Document
        </mat-option> 
      </mat-select>
      <mat-error *ngIf="showError">
        Additional Documents must be selected
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Steps That Require Attention</mat-label>
      <mat-select formControlName="stepsThatRequireAttention" multiple>
        <mat-option
          *ngFor="let step of stepsThatRequireAttentionOptions"
          [value]="step"
        >
          {{ step }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-divider class="divider"></mat-divider>
    <div class="redirect-div top-margin">
      <div class="mini-control-width">
        <mat-form-field appearance="fill">
          <mat-label>Max No. of Tries *</mat-label>
          <input type="number" matInput formControlName="maxNumberOfTries" />
          <mat-error *ngIf="requiredValidator('maxNumberOfTries')">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mini-control-width">
        <mat-form-field appearance="fill">
          <mat-label>Default Country *</mat-label>  
          <mat-select formControlName="defaultCountry">
            <mat-option
              *ngFor="let co of allowedCountries"
              [value]="co"
            >
              {{ country[co] }}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="requiredValidator('defaultCountry')">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="mini-control-width">
        <mat-form-field appearance="fill">
          <mat-label>Face Enroll? *</mat-label>
          <mat-select formControlName="shouldAskForFaceEnroll">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error *ngIf="requiredValidator('shouldAskForFaceEnroll')">
            This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="flex-div">
      <button
        class="edit-button"
        mat-raised-button
        color="warn"
        type="button"
        (click)="enableEditing()"
      >
        <mat-icon *ngIf="!editing">edit</mat-icon>
        <mat-icon *ngIf="editing">close</mat-icon>
        {{ editing == true ? "Cancel" : "Edit Service Config" }}
      </button>
      <button
        color="warn"
        mat-raised-button
        class="save-button"
        [disabled]="!serviceForm.valid"
        (click)="saveServiceConfig()"
        *ngIf="editing"
      >
        <mat-icon>save</mat-icon>
        Save Service Config
      </button>
      <button
        color="warn"
        class="delete-button"
        *ngIf="editing"
        (click)="onDeleteService()"
        mat-raised-button
      >
        <mat-icon>delete</mat-icon>
        Delete Service Config
      </button>
    </div>
  </form>
</mat-expansion-panel>
