.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-div button {
  margin-top: 6px;
  color: black;
}

.enroll-question {
  display: inline;
  margin-right: 9px;
  margin-left: 1px;
}

.divider {
  border: 1px solid #ccc;
  margin-left: -25px;
  margin-right: -25px;
}

.title-redirect {
  font-weight: bold;
  padding-top: 14px;
}

.redirect-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-margin {
  margin-top: 16px;
}
.initial-session-field {
  padding-top: 14px;
}

.separator-div {
  margin-top: 10px;
  margin-bottom: -5px;
}

.add-doc-button {
  margin-bottom: 10px;
}

.save-button {
  height: 40px;
}

.error-class {
  font-size: 9px;
  margin-top: -21px;
  margin-left: 13px;
}
