/*Css classes - start*/
.img-business {
  width: 30px;
  height: 30px;
}

.business-card {
  border: 2px solid var(--gray-2);
}

.business-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

.no-business-h2 {
  text-align: center;
}

.new-business-button {
  color: black;
}

.title-business-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-with-logo {
  display: flex;
  align-items: center;
}
/*Css classes - end*/
