.accordion {
  width: 98%;
}

.table-additional-docs {
  display: flex;
  justify-content: center;
  align-items: center;
}

.delete-additional {
  cursor: pointer;
}

.table-border {
  border: 2px solid var(--gray-2);
  overflow-x: scroll;
}
