<form [formGroup]="sessionForm">
  <mat-form-field appearance="fill">
    <mat-label>Base Redirect Url</mat-label>
    <input matInput formControlName="baseRedirectUrl" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Blinking Params</mat-label>
    <mat-select formControlName="blinkingParams" multiple>
      <mat-option>Status</mat-option>
      <mat-option>Document Expiry Date</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox formControlName="willEmbedInIframe"
    >Embed in IFrame?</mat-checkbox
  >
  <mat-form-field appearance="fill" style="margin-top: 10px">
    <mat-label>Skippable Steps</mat-label>
    <mat-select formControlName="skippableSteps" multiple>
      <mat-option>Account Number</mat-option>
      <mat-option>Contact Data</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Steps That Require Proof of Documents</mat-label>
    <mat-select formControlName="stepsThatRequireProofOfDocuments" multiple>
      <mat-option>Account Number</mat-option>
      <mat-option>Address</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Initial Session Config</mat-label>
    <mat-select formControlName="initialSessionConfig" multiple>
      <mat-option>Document</mat-option>
      <mat-option>Document with Country</mat-option>
      <mat-option>Front Side</mat-option>
      <mat-option>Back Side</mat-option>
      <mat-option>Address</mat-option>
      <mat-option>Faceprint</mat-option>
      <mat-option>Account Number</mat-option>
      <mat-option>Contact Data</mat-option>
      <mat-option>Video Session</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Steps That Require Attention</mat-label>
    <mat-select formControlName="stepsThatRequireAttention" multiple>
      <mat-option>Account Number</mat-option>
      <mat-option>Address</mat-option>
    </mat-select>
  </mat-form-field>
</form>
