<form [formGroup]="sessionForm">
  <mat-form-field appearance="fill">
    <mat-label>Base Redirect Url</mat-label>
    <input matInput formControlName="baseRedirectUrl" />
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Blinking Params</mat-label>
    <mat-select formControlName="blinkingParams" multiple>
      <mat-option>Status</mat-option>
      <mat-option>Document Expiry Date</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-checkbox formControlName="willEmbedInIframe"
    >Embed in IFrame?</mat-checkbox
  >
  <mat-form-field appearance="fill" style="margin-top: 10px">
    <mat-label>Skippable Steps</mat-label>
    <mat-select formControlName="skippableSteps" multiple>
      <mat-option>Account Number</mat-option>
      <mat-option>Contact Data</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Steps That Require Proof of Documents</mat-label>
    <mat-select formControlName="stepsThatRequireProofOfDocuments" multiple>
      <mat-option>Account Number</mat-option>
      <mat-option>Address</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Initial Session Config</mat-label>
    <mat-select formControlName="initialSessionConfig" multiple>
      <mat-option value="Document">Document</mat-option>
      <mat-option value="Document with Country"
        >Document with Country</mat-option
      >
      <mat-option value="Front Side">Front Side</mat-option>
      <mat-option value="Back Side">Back Side</mat-option>
      <mat-option value="Address">Address</mat-option>
      <mat-option value="Faceprint">Faceprint</mat-option>
      <mat-option value="Account Number">Account Number</mat-option>
      <mat-option value="Contact Data">Contact Data</mat-option>
      <mat-option value="Video Session">Video Session</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Steps That Require Attention</mat-label>
    <mat-select formControlName="stepsThatRequireAttention" multiple>
      <mat-option>Account Number</mat-option>
      <mat-option>Address</mat-option>
    </mat-select>
  </mat-form-field>
</form>
