.flex-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flex-div button {
  margin-top: 6px;
  color: black;
}

.enroll-question {
  display: inline;
  margin-right: 9px;
  margin-left: 1px;
}

.divider {
  border: 1px solid var(--gray-2);
  margin-left: -25px;
  margin-right: -25px;
}

.title-redirect {
  font-weight: bold;
  padding-top: 14px;
}

.redirect-div {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mini-control-width {
  width: 30%;
}

.mini-control-width-2 {
  width: 60%;
}

.mini-control-width-3 {
  width: 35%;
}

@media (max-width: 750px) {
  .redirect-div {
    flex-direction: column;
    justify-content: center;
  }

  .mini-control-width,
  .mini-control-width-2,
  .mini-control-width-3 {
    width: 100%;
  }
}

.top-margin {
  margin-top: 16px;
}
.initial-session-field {
  padding-top: 14px;
}

.separator-div {
  margin-top: 10px;
  margin-bottom: -5px;
}

.add-doc-button {
  margin-bottom: 10px;
}

.save-button {
  height: 40px;
  margin-right: 4px;
}

.edit-button {
  height: 40px;
  margin-right: 4px;
}

.delete-button {
  height: 40px;
}

.error-class {
  font-size: 9px;
  margin-top: -21px;
  margin-left: 13px;
}

mat-panel-title {
  padding-bottom: 4px;
}

.session-card {
  border: 2px solid var(--gray-2);
  margin-top: 5px !important;
}

.service-config-title {
  font-weight: bold;
  font-size: 16pt;
}

@media (max-width: 750px) {
  .service-config-title {
    font-size: 12pt;
  }
}
