<div class="columns is-centered margintop">
  <div class="column is-6">
    <mat-card>
      <mat-card-title
        >Welcome, Please Log In
        <img src="../assets/logo3.png" alt="Logo Placeholder" />
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="authForm">
          <mat-form-field appearance="fill">
            <mat-label>UserName</mat-label>
            <input matInput formControlName="userName" />
            <mat-error
              *ngIf="
                this.authForm.controls.userName.invalid &&
                this.authForm.controls.userName.touched
              "
              >{{ getErrorMessage() }}</mat-error
            >
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input type="password" matInput formControlName="password" />
            <mat-error
              *ngIf="
                this.authForm.controls.password.invalid &&
                this.authForm.controls.password.touched
              "
              >{{ getErrorMessage() }}</mat-error
            >
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!authForm.valid"
          (click)="logIn()"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
