mat-card-title {
  font-weight: bold;
}

mat-card {
  margin-bottom: 9px;
  border: 2px solid var(--gray-2);
}

.help-class {
  align-items: center;
}

p {
  font-size: 12pt;
}

.colorPreview {
  height: 16px;
  width: 16px;
  border: 1px solid var(--gray-1);
  box-shadow: 2px 3px var(--gray-2);
  text-align: center;
  font-size: 8pt;
  margin-left: 3px;
  display: inline-block;
}

.picturePreview {
  height: 110px;
  width: 110px;
  border: 1px solid var(--gray-1);
  box-shadow: 2px 3px var(--gray-2);
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.p-1 {
  display: inline;
}

.display-div {
  display: flex;
  align-items: center;
}

@media (max-width: 750px) {
  .display-div {
    align-items: center;
    justify-content: space-between;
  }
}

.more-button-div {
  display: flex;
  justify-content: center;
}

.more-button-div button {
  color: black;
}
