<mat-card>
  <mat-card-title>{{ businessObject.name }}</mat-card-title>
  <mat-card-content>
    <div class="wrap-class">
      <div class="column-1">
        <p><strong>Business Url:</strong> {{ businessObject.businessUrl }}</p>

        <div>
          <p class="p-1">
            <strong>Primary Color:</strong>
            {{ businessObject.businessConfiguration.primaryColor }}
          </p>
          <div
            class="colorPreview"
            [style.background]="
              businessObject.businessConfiguration.primaryColor
            "
          ></div>
        </div>
      </div>

      <div class="display-div">
        <p><strong>Logo:</strong></p>
        <div class="picturePreview">
          <img [src]="logoLink" alt="Logo" />
        </div>
      </div>

      <div class="display-div">
        <p><strong>Favicon:</strong></p>
        <div class="picturePreview">
          <img [src]="faviconLink" alt="Favicon" />
        </div>
      </div>
    </div>
    <div class="more-button-div" (click)="navigateToForm()">
      <button mat-raised-button color="primary">
        <mat-icon>list</mat-icon> See More
      </button>
    </div>
  </mat-card-content>
</mat-card>
