/*Css classes - start*/
.spacer {
  flex: 1 1 auto;
}

.header {
  color: var(--gray-2);
  box-shadow: 2px 2px;
}

.wrapper {
  min-height: 100vh;
  background-color: var(--gray-1);
}

.log-out {
  color: black;
  font-weight: bold;
}

.logo {
  height: 60%;
  cursor: pointer;
}
/*Css classes - end*/
