<div class="wrapper">
  <mat-toolbar class="header">
    <img
      src="../assets/logo1.png"
      alt="Logo Placeholder"
      class="logo"
      [routerLink]="['/business']"
    />
    <span class="spacer"></span>
    <button
      mat-raised-button
      color="primary"
      class="log-out"
      (click)="logOut()"
      *ngIf="this.flags.loggedIn"
    >
      <mat-icon>logout</mat-icon>
      Log out
    </button>
  </mat-toolbar>
  <router-outlet></router-outlet>
  <app-loader *ngIf="flags.loading"></app-loader>
</div>
