.face-enroll-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 12px;
}

.session-card {
  border: 2px solid #ccc;
  margin-top: 9px;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  margin-top: 6px;
  display: flex;
  justify-content: center;
}

.add-button button {
  color: black;
}

.update-button {
  margin-right: 4px;
  color: black;
}

.enroll-question {
  display: inline;
  margin-right: 9px;
  margin-left: 3px;
}

.radio-button-left {
  margin-right: 9px;
}

.wrapper-div {
  margin-top: 0 !important;
  margin-bottom: -12 !important;
  margin-right: 0 !important;
}

.mat-form-field-country {
  margin-top: -25px;
}

.mat-form-field-service {
  margin-bottom: -13px;
}
