<form [formGroup]="serviceForm">
  <mat-form-field appearance="fill" class="mat-form-field-service">
    <mat-label>Service Name *</mat-label>
    <input matInput formControlName="serviceName" />
    <mat-error *ngIf="requiredValidator('serviceName')"
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-divider class="divider"></mat-divider>
  <div class="columns wrapper-div">
    <div class="column is-6">
      <mat-form-field appearance="fill">
        <mat-label>Max Number of Tries *</mat-label>
        <input matInput type="number" formControlName="maxNumberOfTries" />
        <mat-error *ngIf="requiredValidator('maxNumberOfTries')"
          >This field is required and should be a number</mat-error
        >
      </mat-form-field>
    </div>
    <div class="column is-6">
      <mat-form-field appearance="fill">
        <mat-label>Face Enroll? *</mat-label>
        <mat-select formControlName="shouldAskForFaceEnroll">
          <mat-option value="true">Yes</mat-option>
          <mat-option value="false">No</mat-option>
        </mat-select>
        <mat-error *ngIf="requiredValidator('shouldAskForFaceEnroll')"
          >This field is required
        </mat-error>
      </mat-form-field>
    </div>
  </div>
  <mat-form-field appearance="fill" class="mat-form-field-country">
    <mat-label>Allowed Countries *</mat-label>
    <mat-select formControlName="allowedCountries" multiple>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="requiredValidator('allowedCountries')"
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Default Country *</mat-label>
    <mat-select formControlName="defaultCountry">
      <mat-option
        *ngFor="let country of serviceForm.get('allowedCountries').value"
        [value]="country"
      >
        {{ country }}
      </mat-option>
    </mat-select>
    <mat-error *ngIf="requiredValidator('defaultCountry')"
      >This field is required
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Session Validity *</mat-label>
    <input
      matInput
      formControlName="sessionValidityDuration"
      #sessionInput
      type="number"
    />
    <mat-error *ngIf="requiredValidator('sessionValidityDuration')"
      >This field is required and should be a number</mat-error
    >
    <mat-hint *ngIf="!requiredValidator('sessionValidityDuration') && editing"
      >This number represents the duration of the session in minutes</mat-hint
    >
  </mat-form-field>
</form>
<div class="add-button">
  <button
    (click)="enableEditing()"
    mat-raised-button
    class="update-button"
    color="warn"
  >
    <mat-icon *ngIf="!editing">edit</mat-icon>
    <mat-icon *ngIf="editing">close</mat-icon>
    {{ editing == true ? "Cancel" : "Edit Service Details" }}
  </button>
  <button
    mat-raised-button
    class="update-button"
    color="warn"
    [disabled]="!serviceForm.valid"
  >
    <mat-icon>update</mat-icon>
    Update Service Details
  </button>
</div>
<div *ngFor="let serviceConfigForm of serviceConfigForms; let i = index">
  <mat-expansion-panel class="session-card">
    <mat-expansion-panel-header>
      <mat-panel-title class="service-config-title">
        Service Config
      </mat-panel-title>
      <mat-panel-description>
        <div *ngIf="serviceConfigForms.length != 1">
          <button
            (click)="deleteServiceConfigForm(i)"
            color="warn"
            mat-raised-button
          >
            <mat-icon>delete</mat-icon>
          </button>
        </div>
      </mat-panel-description>
    </mat-expansion-panel-header>
    <app-service-form
      [allowedCountries]="serviceForm.get('allowedCountries').value"
    ></app-service-form>
  </mat-expansion-panel>
</div>
<div class="add-button">
  <button mat-raised-button color="warn" (click)="addServiceConfigForm()">
    <mat-icon>add</mat-icon> Add new Service Config
  </button>
</div>
