<mat-expansion-panel class="sessionCard" [expanded]="expand">
  <mat-expansion-panel-header>
    <mat-panel-title>
      <div class="service-header">
        <img
          class="img-session"
          src="../assets/logo3.png"
          alt="Logo Placeholder"
        /><strong
          >Service Details <span *ngIf="name">[{{ name }}]</span></strong
        >
      </div>
    </mat-panel-title>
  </mat-expansion-panel-header>
  <form [formGroup]="serviceForm">
    <mat-form-field appearance="fill" class="mat-form-field-service">
      <mat-label>Service Name *</mat-label>
      <input matInput formControlName="serviceName" />
      <mat-error *ngIf="requiredValidator('serviceName')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <mat-divider class="divider"></mat-divider>
    <div class="wrapper-div">
      <div class="max-number-of-tries-div">
        <mat-form-field appearance="fill">
          <mat-label>Max Number of Tries *</mat-label>
          <input matInput type="number" formControlName="maxNumberOfTries" />
          <mat-error *ngIf="requiredValidator('maxNumberOfTries')"
            >This field is required and should be a number</mat-error
          >
        </mat-form-field>
      </div>
      <div class="face-enroll-div">
        <mat-form-field appearance="fill">
          <mat-label>Face Enroll? *</mat-label>
          <mat-select formControlName="shouldAskForFaceEnroll">
            <mat-option [value]="true">Yes</mat-option>
            <mat-option [value]="false">No</mat-option>
          </mat-select>
          <mat-error *ngIf="requiredValidator('shouldAskForFaceEnroll')"
            >This field is required
          </mat-error>
        </mat-form-field>
      </div>
    </div>
    <mat-form-field appearance="fill" class="mat-form-field-country">
      <mat-label>Allowed Countries *</mat-label>
      <mat-select formControlName="allowedCountries" multiple>
        <mat-option *ngFor="let co of country | keyvalue" [value]="co.key">
          {{ co.value }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="requiredValidator('allowedCountries')"
        >This field is required</mat-error
      >
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Default Country *</mat-label>
      <mat-select formControlName="defaultCountry">
        <mat-option
          *ngFor="let co of serviceForm.get('allowedCountries').value"
          [value]="co"
        >
          {{ country[co] }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="requiredValidator('defaultCountry')"
        >This field is required
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Session Validity *</mat-label>
      <input
        matInput
        formControlName="sessionValidityDuration"
        #sessionInput
        type="number"
      />
      <mat-error *ngIf="requiredValidator('sessionValidityDuration')"
        >This field is required and should be a number</mat-error
      >
      <mat-hint *ngIf="!requiredValidator('sessionValidityDuration') && editing"
        >This number represents the duration of the session in minutes</mat-hint
      >
    </mat-form-field>
  </form>
  <div class="add-button">
    <button
      (click)="enableEditing()"
      mat-raised-button
      class="update-button"
      color="primary"
    >
      <mat-icon *ngIf="!editing">edit</mat-icon>
      <mat-icon *ngIf="editing">close</mat-icon>
      {{ editing == true ? "Cancel" : "Edit Service" }}
    </button>
    <button
      mat-raised-button
      class="update-button"
      color="primary"
      [disabled]="!serviceForm.valid"
      *ngIf="editing && !flags.newBusiness"
      (click)="updateServiceDetails()"
    >
      <mat-icon>update</mat-icon>
      Update Service
    </button>
    <button
      mat-raised-button
      class="update-button"
      color="primary"
      [disabled]="!serviceForm.valid"
      *ngIf="editing && flags.newBusiness"
      (click)="saveServiceDetails()"
    >
      <mat-icon>save</mat-icon>
      Save Service
    </button>
    <button
      *ngIf="editing"
      (click)="onDeleteService()"
      color="primary"
      mat-raised-button
    >
      <mat-icon>delete</mat-icon> Delete Service
    </button>
  </div>

  <mat-accordion multi="false">
    <div *ngFor="let serviceConfigForm of serviceConfigForms; let i = index">
      <app-service-form
        [allowedCountries]="serviceForm.get('allowedCountries').value"
        (saved)="onSavedServiceForm($event)"
        (deleting)="deleteServiceConfigForm($event)"
        [expand]="expandConfigPanels"
        [allowedSteps]="
          serviceObject.serviceConfiguration.allowedSteps
            ? serviceObject.serviceConfiguration.allowedSteps
            : allowedDefault
        "
        [configObject]="serviceConfigForm"
      ></app-service-form>
    </div>
  </mat-accordion>

  <div class="add-button">
    <button
      mat-raised-button
      color="primary"
      (click)="addServiceConfigForm()"
      [disabled]="!serviceSaved && flags.newBusiness"
    >
      <mat-icon>add</mat-icon> Add new Service Config
    </button>
  </div>
</mat-expansion-panel>
