<form [formGroup]="serviceForm">
  <mat-form-field appearance="fill">
    <mat-label>Max Number of Tries *</mat-label>
    <input matInput type="number" formControlName="maxNumberOfTries" />
    <mat-error
      *ngIf="
        this.serviceForm.controls.maxNumberOfTries.invalid &&
        this.serviceForm.controls.maxNumberOfTries.touched
      "
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Default Country *</mat-label>
    <mat-select formControlName="defaultCountry">
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        this.serviceForm.controls.defaultCountry.invalid &&
        this.serviceForm.controls.defaultCountry.touched
      "
      >This field is required
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Allowed Countries</mat-label>
    <mat-select formControlName="allowedCountries" multiple>
      <mat-option *ngFor="let country of countries" [value]="country">
        {{ country }}
      </mat-option>
    </mat-select>
    <mat-error
      *ngIf="
        this.serviceForm.controls.allowedCountries.invalid &&
        this.serviceForm.controls.allowedCountries.touched
      "
      >This field is required</mat-error
    >
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Session Validity *</mat-label>
    <input matInput formControlName="sessionValidityDuration" type="number" />
    <mat-error
      *ngIf="
        this.serviceForm.controls.sessionValidityDuration.invalid &&
        this.serviceForm.controls.sessionValidityDuration.touched
      "
      >This field is required</mat-error
    >
  </mat-form-field>
  <div>
    <mat-checkbox
      color="warn"
      formControlName="shouldAskForFaceEnroll"
      class="face-enroll-checkbox"
    >
      Ask for Face Enroll?
    </mat-checkbox>
  </div>
</form>
<div *ngFor="let sessionForm of sessionForms; let i = index">
  <mat-card class="session-card">
    <mat-card-title>
      <strong>Session Config</strong>
      <div *ngIf="sessionForms.length !== 1">
        <button color="warn" mat-raised-button (click)="deleteSessionForm(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-title>
    <mat-card-content>
      <app-session-form></app-session-form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" (click)="addSessionForm()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
</div>
