.face-enroll-checkbox {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-right: 12px;
}

mat-panel-title {
  align-items: center;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.add-button {
  margin-top: 6px;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.add-button button {
  color: black;
  margin-top: 11px;
}

.update-button {
  margin-right: 4px;
  color: black;
}

.enroll-question {
  display: inline;
  margin-right: 9px;
  margin-left: 3px;
}

.radio-button-left {
  margin-right: 9px;
}

.wrapper-div {
  margin-top: 14px;
  margin-bottom: 18px !important;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.mat-form-field-country {
  margin-top: -25px;
}

.mat-form-field-service {
  margin-bottom: 2px;
}

.divider {
  border: 1px solid #ccc;
  margin-left: -25px;
  margin-right: -25px;
}

mat-panel-description {
  justify-content: right;
}

.service-header {
  font-size: 18pt;
}

mat-panel-title {
  padding-bottom: 4px;
}

@media (max-width: 750px) {
  .service-header {
    font-size: 10pt;
  }
}

.img-session {
  width: 27px;
  height: 27px;
}

.sessionCard {
  border: 2px solid #ccc;
  margin-bottom: 5px !important;
}
