<div class="columns is-centered">
  <div class="column is-8 form-wrapper">
    <mat-card class="businessCard">
      <mat-card-title>
        <strong>Business Details</strong>
        <img
          class="img-business"
          src="../assets/logo3.png"
          alt="Logo Placeholder"
        />
      </mat-card-title>
      <mat-card-content>
        <app-business-form></app-business-form>
      </mat-card-content>
    </mat-card>
    <div *ngFor="let form of serviceForms; let i = index">
      <app-main-service-form
        (saved)="onSavedServiceForm($event)"
        (deleting)="onDeleteService($event)"
        [serviceObject]="form"
      ></app-main-service-form>
    </div>
    <div class="add-button">
      <button mat-raised-button color="warn" (click)="addNewServiceForm()">
        <mat-icon>add</mat-icon>
        Add new Service
      </button>
    </div>
  </div>
</div>
