<div class="columns is-centered">
  <div class="column is-8 form-wrapper">
    <mat-card class="businessCard">
      <mat-card-title>
        <strong>Business Details</strong>
        <img
          class="img-business"
          src="../assets/logo3.png"
          alt="Logo Placeholder"
        />
      </mat-card-title>
      <mat-card-content *ngIf="businessObject">
        <app-business-form
          [businessObject]="businessObject"
        ></app-business-form>
      </mat-card-content>
    </mat-card>
    <mat-accordion multi="false">
      <div *ngFor="let form of serviceForms; let i = index">
        <app-main-service-form
          (saved)="onSavedServiceForm($event)"
          (deleting)="onDeleteService($event)"
          [serviceObject]="form"
          [expand]="expandServicePanels"
        ></app-main-service-form>
      </div>
    </mat-accordion>

    <div class="add-button">
      <button mat-raised-button color="warn" 
      (click)="addNewServiceForm()" 
      [disabled]="flags.newBusiness && !flags.businessConfigCreated">
        <mat-icon>add</mat-icon>
        Add new Service
      </button>
    </div>
    <div *ngIf="businessObject">
      <app-user-wrap 
      [users]="businessObject.users" 
      [services]="businessObject.services">
    </app-user-wrap>
    </div>
  </div>
</div>
