<div class="columns is-centered" style="margin-top: 20px">
  <div class="column is-8">
    <mat-card class="businessCard">
      <mat-card-title>
        <strong>Business Details</strong>
        <img
          class="img-business"
          src="../assets/logo3.png"
          alt="Logo Placeholder"
        />
      </mat-card-title>
      <mat-card-content>
        <app-business-form></app-business-form>
      </mat-card-content>
    </mat-card>
    <div *ngFor="let form of serviceForms; let i = index">
      <mat-card class="sessionCard">
        <mat-card-title>
          <div>
            <img
              class="img-session"
              src="../assets/logo3.png"
              alt="Logo Placeholder"
            /><strong>Session Configuration</strong>
          </div>
          <div *ngIf="serviceForms.length != 1">
            <button (click)="deleteSession(i)" color="warn" mat-raised-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-card-title>
        <mat-card-content>
          <app-main-service-form></app-main-service-form>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="add-button">
      <button mat-raised-button color="warn">
        <mat-icon (click)="addNewSession()">add</mat-icon>
      </button>
    </div>
  </div>
</div>
