mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

mat-panel-description {
  justify-content: right;
}

.img-business {
  width: 40px;
  height: 40px;
}

.businessCard {
  border: 2px solid #ccc;
  margin-bottom: 9px;
}

.add-button {
  display: flex;
  justify-content: center;
  margin-top: 6px;
}

.add-button button {
  color: black;
}

mat-icon {
  color: black;
}

.form-wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
}

mat-panel-title {
  padding-bottom: 4px;
}
