/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

form mat-form-field {
  width: 100%;
  margin-bottom: 3px;
}

.mat-card {
  margin: auto;
  width: 90%;
}

.mat-expansion-panel {
  margin: auto !important;
  width: 90%;
}

.mat-icon {
  color: black;
}

.mat-warn {
  background-color: #ff2a4e !important;
}

.mat-button-disabled {
  background-color: rgba(0, 0, 0, 0.26) !important;
  color: black !important;
}

.snackbar {
  color: #141414;
  background-color: #ffffff;
  font-weight: bold;
  border: 1px solid #ff2a4e;
}
