/*Html and body settings - start*/
html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
/*Html and body settings - end*/

/*Root CSS variables*/
:root {
  --blinking-red: #ff2a4e;
  --blinking-white: #ffffff;
  --blinking-black: #141414;
  --blinking-gray: #4a4a4a;
  --gray-1: #eee;
  --gray-2: #ccc;
}
/*------------------*/

/*Global CSS Classes - start*/
form mat-form-field {
  width: 100%;
  margin-bottom: 3px;
}

.mat-card {
  margin: auto;
  width: 90%;
}

.mat-expansion-panel {
  margin: auto !important;
  width: 90%;
}

button .mat-icon {
  color: var(--blinking-red) !important;
  margin-bottom: 3px !important;
}

.mat-warn {
  background-color: var(--blinking-red) !important;
}

.mat-button-disabled {
  background-color: rgba(0, 0, 0, 0.26) !important;
  color: black !important;
}

button {
  background-color: var(--blinking-black) !important;
  color: var(--blinking-red) !important;
}

.snackbar {
  color: var(--background-black);
  background-color: var(--background-white);
  font-weight: bold;
  border: 1px solid var(--blinking-red);
}
/*Global CSS Classes - end*/
