<form [formGroup]="businessForm">
  <div class="spaceBetween">
    <mat-form-field appearance="fill" style="width: 80%">
      <mat-label>Color Hex Value: *</mat-label>
      <input matInput formControlName="color" />
      <mat-error
        *ngIf="
          this.businessForm.controls.color.hasError('required') &&
          this.businessForm.controls.color.touched
        "
        >This field is required</mat-error
      >
      <mat-error
        *ngIf="
          this.businessForm.controls.color.hasError('pattern') &&
          this.businessForm.controls.color.touched
        "
        >Must be a valid color hex (e.g. #ae3 or #aaa434)</mat-error
      >
    </mat-form-field>
    <div class="colorPreview" [style.background]="selectedColor">
      <p *ngIf="!businessForm.get('color').valid" style="font-weight: bold">
        No color selected
      </p>
    </div>
  </div>

  <div class="columns">
    <div class="column is-5" style="margin-top: 4px; margin-bottom: 8px">
      <div>
        <mat-label style="display: block">Favicon: *</mat-label>
        <input
          matNativeInput
          #favicon
          type="file"
          formControlName="favicon"
          accept=".jpeg,.jpg,.png,.ico"
        />

        <mat-error
          *ngIf="
            this.businessForm.controls.favicon.hasError('required') &&
            this.businessForm.controls.favicon.touched
          "
          style="font-size: 8pt"
          >This field is required</mat-error
        >
        <mat-error
          *ngIf="
            !this.businessForm.controls.favicon.hasError('required') &&
            this.businessForm.controls.favicon.invalid &&
            this.businessForm.controls.favicon.touched
          "
          style="font-size: 8pt"
          >The selected picture must be smaller than 3 MB</mat-error
        >
      </div>
      <div style="margin-top: 10px">
        <mat-label style="display: block">Logo: *</mat-label>
        <input
          #logo
          type="file"
          formControlName="logo"
          accept=".jpeg,.jpg,.png,.ico"
        />

        <mat-error
          *ngIf="
            this.businessForm.controls.logo.hasError('required') &&
            this.businessForm.controls.logo.touched
          "
          style="font-size: 8pt"
          >This field is required</mat-error
        >
        <mat-error
          *ngIf="
            !this.businessForm.controls.logo.hasError('required') &&
            this.businessForm.controls.logo.invalid &&
            this.businessForm.controls.logo.touched
          "
          style="font-size: 8pt"
          >The selected picture must be smaller than 3 MB</mat-error
        >
      </div>
    </div>
    <div class="column is-6" style="display: flex">
      <div *ngIf="businessForm.get('favicon').valid" class="picturePreview">
        <img [src]="faviconPath" />
      </div>

      <div class="picturePreview" *ngIf="businessForm.get('logo').valid">
        <img [src]="logoPath" />
      </div>
    </div>
  </div>
  <div class="update-button">
    <button mat-raised-button color="warn" [disabled]="!businessForm.valid">
      Update
    </button>
  </div>
</form>
