.colorPreview {
  height: 52px;
  width: 52px;
  border: 1px solid #eee;
  box-shadow: 2px 3px #ccc;
  text-align: center;
  font-size: 8pt;
  margin-left: 12px;
}

@media (max-height: 750px) {
  .picturePreview {
    margin-bottom: 8px;
  }
}

.picturePreview {
  height: 110px;
  width: 110px;
  border: 1px solid #eee;
  box-shadow: 2px 3px #ccc;
  margin-left: 12px;
  margin-right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.picturePreview img {
  max-height: 100%;
  max-width: 100%;
}

.spaceBetween {
  display: flex;
  justify-content: space-between;
}

.update-button {
  display: flex;
  justify-content: center;
}

.update-button button {
  color: black;
  margin-right: 4px;
}

.color-form-field {
  width: 80%;
}

.picture-error {
  font-size: 8pt;
}

.picture-label {
  display: block;
}
