<form [formGroup]="businessForm">
  <div style="display: flex; justify-content: space-between">
    <mat-form-field appearance="fill" style="width: 80%">
      <mat-label>Color</mat-label>
      <input matInput formControlName="color" />
      <mat-error
        *ngIf="
          this.businessForm.controls.color.hasError('required') &&
          this.businessForm.controls.color.touched
        "
        >This field is required</mat-error
      >
      <mat-error
        *ngIf="
          this.businessForm.controls.color.hasError('pattern') &&
          this.businessForm.controls.color.touched
        "
        >The value of this field must be valid color hex (starts with a #, has 3
        or 6 hexadecimal numbers)</mat-error
      >
    </mat-form-field>
    <div
      style="
        height: 50px;
        width: 50px;
        border: 2px solid #448aff;
        border-radius: 3px;
        text-align: center;
        font-size: 8pt;
        margin-right: 12px;
      "
      [style.background]="selectedColor"
    >
      <p *ngIf="!businessForm.get('color').valid" style="font-weight: bold">
        No color selected
      </p>
    </div>
  </div>
  <div
    style="display: flex; justify-content: space-between; margin-bottom: 8px"
  >
    <div>
      <mat-label style="display: block">Favicon: </mat-label>
      <input
        matNativeInput
        #favicon
        type="file"
        formControlName="favicon"
        accept=".jpeg,.jpg,.png,.ico"
      />

      <mat-error
        *ngIf="
          this.businessForm.controls.favicon.hasError('required') &&
          this.businessForm.controls.favicon.touched
        "
        style="font-size: 8pt"
        >This field is required</mat-error
      >
      <mat-error
        *ngIf="
          !this.businessForm.controls.favicon.hasError('required') &&
          this.businessForm.controls.favicon.invalid &&
          this.businessForm.controls.favicon.touched
        "
        style="font-size: 8pt"
        >The selected picture must be smaller than 3 MB</mat-error
      >
    </div>
    <div
      style="
        height: 50px;
        width: 50px;
        border: 2px solid #448aff;
        border-radius: 3px;
        text-align: center;
        font-size: 8pt;
        margin-right: 12px;
      "
    >
      <p *ngIf="!businessForm.get('favicon').valid" style="font-weight: bold">
        Favicon Preview
      </p>
      <img *ngIf="businessForm.get('favicon').valid" [src]="faviconPath" />
    </div>
  </div>
  <div style="display: flex; justify-content: space-between">
    <div>
      <mat-label style="display: block">Logo: </mat-label>
      <input
        #logo
        type="file"
        formControlName="logo"
        accept=".jpeg,.jpg,.png,.ico"
      />

      <mat-error
        *ngIf="
          this.businessForm.controls.logo.hasError('required') &&
          this.businessForm.controls.logo.touched
        "
        style="font-size: 8pt"
        >This field is required</mat-error
      >
      <mat-error
        *ngIf="
          !this.businessForm.controls.logo.hasError('required') &&
          this.businessForm.controls.logo.invalid &&
          this.businessForm.controls.logo.touched
        "
        style="font-size: 8pt"
        >The selected picture must be smaller than 3 MB</mat-error
      >
    </div>
    <div
      style="
        height: 50px;
        width: 50px;
        border: 2px solid #448aff;
        border-radius: 3px;
        text-align: center;
        font-size: 8pt;
        margin-right: 12px;
      "
    >
      <p *ngIf="!businessForm.get('logo').valid" style="font-weight: bold">
        Logo Preview
      </p>
      <img *ngIf="businessForm.get('logo').valid" [src]="logoPath" />
    </div>
  </div>
</form>
