/*Html elements - start*/
mat-card-title {
  padding-bottom: 4px;
}

mat-card-actions {
  display: flex;
  justify-content: center;
}

mat-card-actions button {
  color: black;
}
/*Html elements - end*/

/*Css classes - start*/
.user-panel {
  border: 2px solid var(--gray-2);
  margin-top: 5px !important;
}

.user-title {
  font-weight: bold;
  font-size: 18pt;
  display: flex;
  align-items: center;
}

.user-logo {
  width: 27px;
  height: 27px;
}
/*Css classes - end*/

/*Media queries - start*/
@media (max-width: 750px) {
  .user-title {
    font-size: 12pt;
  }
}
/*Media queries - end*/
