<div class="columns is-centered" style="margin-top: 20px">
  <div class="column is-8">
    <mat-card style="border: 2px solid #448aff">
      <mat-card-title
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
        "
        >Business Details
        <img
          src="../assets/logo3.png"
          alt="Logo Placeholder"
          style="width: 10%; height: 10%"
        />
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="businessForm">
          <mat-form-field appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput formControlName="color" />
          </mat-form-field>
          <p
            *ngIf="
              !businessForm.controls.color.valid &&
              businessForm.controls.color.touched
            "
            class="help is-danger"
          >
            This field is required
          </p>
          <div style="margin-bottom: 8px">
            <mat-label style="display: block">Favicon: </mat-label>
            <input
              type="file"
              formControlName="favicon"
              accept=".jpeg,.jpg,.png,.ico"
            />
          </div>
          <div>
            <mat-label style="display: block">Logo: </mat-label>
            <input
              type="file"
              formControlName="logo"
              accept=".jpeg,.jpg,.png,.ico"
            />
          </div>
        </form>
      </mat-card-content>
      <mat-divider style="border: 1px solid #448aff"></mat-divider>
      <mat-card-title
        style="
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 40px;
        "
        >Session Configuration
        <img
          src="../assets/logo3.png"
          alt="Logo Placeholder"
          style="width: 10%; height: 10%"
        />
      </mat-card-title>
      <mat-card-content>
        <form [formGroup]="sessionForm">
          <mat-form-field appearance="fill">
            <mat-label>Base Redirect Url</mat-label>
            <input matInput formControlName="baseRedirectUrl" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Blinking Params</mat-label>
            <mat-select formControlName="blinkingParams" multiple>
              <mat-option>Status</mat-option>
              <mat-option>Document Expiry Date</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-checkbox formControlName="willEmbedInIframe"
            >Embed in IFrame?</mat-checkbox
          >
          <mat-form-field appearance="fill" style="margin-top: 10px">
            <mat-label>Skippable Steps</mat-label>
            <mat-select formControlName="skippableSteps" multiple>
              <mat-option>Account Number</mat-option>
              <mat-option>Contact Data</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Steps That Require Proof of Documents</mat-label>
            <mat-select
              formControlName="stepsThatRequireProofOfDocuments"
              multiple
            >
              <mat-option>Account Number</mat-option>
              <mat-option>Address</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Initial Session Config</mat-label>
            <mat-select formControlName="initialSessionConfig" multiple>
              <mat-option>Document</mat-option>
              <mat-option>Document with Country</mat-option>
              <mat-option>Front Side</mat-option>
              <mat-option>Back Side</mat-option>
              <mat-option>Address</mat-option>
              <mat-option>Faceprint</mat-option>
              <mat-option>Account Number</mat-option>
              <mat-option>Contact Data</mat-option>
              <mat-option>Video Session</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Steps That Require Attention</mat-label>
            <mat-select formControlName="stepsThatRequireAttention" multiple>
              <mat-option>Account Number</mat-option>
              <mat-option>Address</mat-option>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions style="display: flex; justify-content: center">
        <button
          mat-raised-button
          color="primary"
          [disabled]="!businessForm.valid || !sessionForm.valid"
        >
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
